
<nb-layout>
   <nb-layout-header fixed>
      <div class="header-container">
         <nav class=" navbar navbar-expand-lg">
            <a href="/" class="navbar-brand">marca</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" routerLink="/module1/userlist">Home <span class="sr-only">(current)</span></a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
      <!-- header goes here -->
   </nb-layout-header>

   
   <nb-layout-column>
      <router-outlet></router-outlet>
   </nb-layout-column>
   <nb-layout-footer fixed>
      Derechos Reservados
   <!-- Insert footer here -->
   </nb-layout-footer>

</nb-layout>
